# Appwrite Configuration
EXPO_PUBLIC_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=your_project_id
EXPO_PUBLIC_APPWRITE_DATABASE_ID=your_database_id
EXPO_PUBLIC_APPWRITE_VIDEOS_COLLECTION_ID=your_videos_collection_id
EXPO_PUBLIC_APPWRITE_CHANNELS_COLLECTION_ID=your_channels_collection_id
EXPO_PUBLIC_APPWRITE_STORAGE_BUCKET_ID=your_storage_bucket_id
